body {
  margin: o;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.whole,
.yin,
.yang {
  width: var(--size, 1rem);
  aspect-ratio: 1;
  border-radius: 50%;
}

.whole {
  --size: min(30rem, 95vmin);
  border: 0.15rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to right,
    black,
    black 50%,
    white,
    white 50%
  );
}

.yin,
.yang {
  --size: 50%;
  background-image: radial-gradient(
    closest-side var(--inner),
    var(--inner) 25%,
    var(--outer),
    var(--outer) 25%
  );
}

.yin {
  --inner: black;
  --outer: white;
}

.yang {
  --inner: white;
  --outer: black;
}
